doctype html 
html
    head 
        title User Registration API: Node.JS, Express, MongoDB
        block scripts
        block style 

    body 
        .container 
            nav.navbar 
                ul.list_items 
                    li #[a(href='/#homePage') Home]
                    li #[a(href='') Books]
                    li #[a(href='') Stores]
                    li #[a(href='/') About]
                    li#aaaa #[a(href='/loginPage') Login]

        block content 

        footer#footer  
            | Copyright ©User Registration System | All rights reserved