extends base.pug  

block scripts 
    script 
        include ../static/index.js 

block style 
    style 
         include ../static/style.css

block content
    section.section#homePage
            h1 User Registration API <br> (Node.JS, Express, PUG, MongoDB)
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex culpa suscipit adipisci natus, et dolores omnis soluta aliquam porro cumque, alias earum vel, quas magnam similique ullam exercitationem ratione repellat nihil! Earum corporis minima sapiente ratione iste provident id, dolor distinctio voluptatum similique qui et molestias necessitatibus ullam, consequatur aliquid repudiandae modi porro ullam! Animi molestiae iste quo unde perspiciatis tempora at voluptatum quia dolore, libero aliquam sint vitae.

            .details 
                p#contact +108 58746844
                p#place Los Angeles, CA 


    section.section.commonSection#aboutPage
            p About Us 
            div.mainFrame
                div.brief
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, nobis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi natus maiores voluptatum odio fugit, et ad asperiores alias autem sunt, aspernatur labore sit omnis inventore accusamus! Voluptas inventore quisquam dolor perferendis animi facere a praesentium consequuntur error, qui quis, magni, architecto labore! Debitis molestiae temporibus at mollitia dolores, eum qui.ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla fuga commodi amet inventore sint ipsum minima quibusdam tempora! Recusandae, facilis aspernatur. Aspernatur nisi distinctio explicabo sequi libero reprehenderit unde sunt qui quam non. Ullam consequatur unde adipisci? Consectetur blanditiis rerum soluta debitis aliquam dolores reiciendis omnis sunt facere et.
                        
                div.grid_tags.footer-cols
                        ul 
                                li Categories 
                                li #[a(href="") Educational]
                                li #[a(href="") Time Management]
                                li #[a(href="") Self-Development]
                                li #[a(href="") Entreprenuership]
                        ul 
                                li Shop and Learn
                                li #[a(href="") Music ]
                                li #[a(href="") Movies]
                                li #[a(href="") Shows]
                                li #[a(href="") Apps]
                        ul 
                                li Education and Business 
                                li #[a(href="") Education]
                                li #[a(href="") College Books]
                                li #[a(href="") High School Books]
                                li #[a(href="") Degree Books]
                        ul 
                                li Education and Business 
                                li #[a(href="") Education]
                                li #[a(href="") College Books]
                                li #[a(href="") High School Books]
                                li #[a(href="") Degree Books]
                        
                        
            

